    aiohttp>=3.12.15
    aiortc>=1.13.0
    coloredlogs==15.0.1
    cryptography>=45.0.6
    flatbuffers==25.2.10
    gputil>=1.4.0
    humanfriendly==10.0
    numpy>=2.3.2
    onnx==1.17.0
    onnxruntime==1.22.1
    onnxslim==0.1.64
    opencv-python>=4.11.0.86
    protobuf==6.32.0
    pyreadline3==3.5.4
    qrcode>=8.2
    ultralytics>=8.3.180
    websockets>=15.0.1